@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sector-image::before {
    content: "";
    width: 100%;
    height: 100%;
    margin-top: 10%;
    margin-left: 10%;
    z-index: 1;
    position: absolute;
  }
  .solution-image::before {
    content: "";
    width: 100%;
    height: 100%;
    margin-top: 10%;
    left: -10%;
    z-index: 1;
    position: absolute;
  }
}

html {
  scroll-behavior: smooth;
  --staggered: 2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
